# Binaries & System
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Go
vendor/
go.sum

# Environment variables 
.env
.env.local
.env.*

# Database & Docker Data 
postgres_data/
redis_data/
docker_data/
data/
db_data/
tmp/

# Node/Frontend 
node_modules/
build/